.icon:before {
  display: inline-block;
  font-family: Ratchicons;
}

.icon-gear:before {
  content: ' ';
  background: url('../images/gear.svg') no-repeat;
  background-size: 100% auto;
  width: 24px;
  height: 24px;
}

.icon-refresh {
  &:before {
    content: ' ';
    background: url('../images/refresh.svg') no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
  }
  &.disabled, &.disable, .disable &, .disabled & {
    &:before{
      opacity: 0.275;
    }
  }
}

.icon-refresh-time:before {
  content: ' ';
  background: url('../images/refresh-time.svg') no-repeat;
  background-size: 100% auto;
  width: 26px;
  height: 24px;
}