figure, .avatar:not(figure) {
  position: relative;
  width: 182px;
  height: 182px;
  background-color: $green;
  border: 3px solid $white;
  border-radius: 390px;
  margin: 0 auto;
  text-align: center;
  display: block;
  overflow: visible;

  &.no-profile-image {
    background: #3DBBE8 url('../../images/midrive.svg');
  }

  img:not(.add-photo){
    width: auto;
    border-radius: 180px;
    min-height: 100%;
    height: 100%;
    min-width: 1px;
    display: block;
  }

  &.edit::after {
    background: $green url('../../images/edit.svg') no-repeat;
    background-size: 60% auto;
    background-position: 12px 12px;
    @include avatar-bubble();
    right: -2px;
    bottom: -2px;
  }
  &.score{
    margin-bottom: 35px;
    span {
      @include avatar-bubble-simple(54px);
      margin: 0 auto;
      color: white;
      font-weight: bold;
      padding: 13px 7px 0;
      text-align: center;
      display: inline-block;
      position: relative;
      top: -25px;
    }

    &.lost span {
      background-color: $light-gray;
    }
    &.wait span {
      background-color: $orange;
    }
  }

  &.game{
    &::after {
      @include avatar-bubble();
      right: -3px;
      bottom: -3px;
    }
    &.wait::after {
      background: $orange;
      background-size: 52% auto;
      background-position: 12px 9px;
    }
    &.wrong::after {
      background-color: $red;
    }
  }

  &.small {
    @include avatar-size(58px, 25px, 2px);
    &.game.wait::after {
      background-size: 54% auto;
      background-position: 5px 3px;
    }
    &.edit::after{
      background-position: 5px 3px;
    }
  }

  &.medium {
    @include avatar-size(118px, 40px, 3px);
    &.game.wait::after {
      background-position: 8px 5px;
    }
    &.edit::after{
      background-position: 8px 7px;
    }
  }

}

.add-photo {
  width: 57%;
  height: 57%;
  margin-top: 39px;
  background: transparent url('../../images/photo.svg') no-repeat;
  background-size: 100% auto;
  display: inline-block;
}

