.progress-container:not(ul), ul.progress-container {
  @include ul-bubble();
  margin-top: 50px;

  li, .progress-bubbles{
    width: 12px;
    height: 12px;
    border-radius: 90px;
    background: $white-transparent;
    transition: background .2s linear;
    display: inline-block;
    margin-right:5px;

    &.active{
      background: $white;
    }
  }
}

.game-progress:not(ul), ul.game-progress{
  @include ul-bubble();

  li, .progress-bubbles{
    width: 34px;
    height: 34px;
    border-radius: 90px;
    background: $white-transparent;
    display: inline-block;
    margin-right: 2px;

    &.correct{
      border: 3px solid $white;
      background-color: $green;
    }
    &.wrong{
      border: 3px solid $white;
      background-color: $red;
    }
  }
}