.btn:disabled, .btn.disabled {
  opacity: 0.5;
}

.btn-midrive {
  color: $white;
  background: $white-transparent;
  border-radius: 8.85mm;
  border: none;
  padding: 25px 5px;
  font-family: "Roboto","Helvetica Neue", Helvetica, sans-serif;
  font-size: 15.26pt;
  width: 100%;
  min-height: 70px;

  &:active, &.active{
    background: $white-transparent-active;
    color: $white;
  }

  &.disable, &.disabled, .disabled &, .disable & {
    background-color: $disabled-white-transparent;
    color: $disabled-text-white-transparent;
    opacity: 1;

    &::after, &::before {
      opacity: 0.275;
    }

    &.active, &:active {
      background-color: $disabled-white-transparent;
      color: $disabled-text-white-transparent;
    }
  }

  figure, .avatar {
    position: absolute;
    top: 6px;
    left: 8px;
  }

  &.arrow::after {
    display: inline-block;
    font-family: Ratchicons;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    content: '\e818';
    position: absolute;
    right: 12px;
  }
}

