.card * {
  color: $text-gray;
}
.card {
  input, select{
    &:hover, &:active{
      color: $text-gray;
    }
  }
  .table-view-cell {
    text-align: right;
    padding: 25px 15px;
    .cell {
      display: inline-block;
      text-align: right;
    }
  }
}

.card.answers{
  overflow: visible;
  * {
    text-align: center;
  }

  .table-view-cell {
    padding: 45px 25px 25px;
  }

  p {
    font-size: 20px;
    line-height: 1.8;
  }

  $circle-size: 82px;
  .icon {
    display: block;
    text-transform: capitalize;
    margin: 0 auto 30px;
    font-size: 30px;

    &:before {
      width: $circle-size;
      height: $circle-size;
      display: block;
      line-height: 1;
      text-decoration: none;
      font-family: Ratchicons;
      font-size: 62px;
      border: 4px solid;
      margin: 0 auto 14px;
      border-radius: $circle-size;
    }
  }
  .icon-incorrect {
    color: $red;

    &:before {
      content: '\e811';
      color: $red;
      padding: 6px 0px 0 0;
    }
  }
  .icon-correct {
    color: $green;

    &:before {
      content: '\e810';
      color: $green;
      font-size: 72px;
      padding-top: 2px;
    }
  }
}
