input[type=text], input[type=password], input[type=date], input[type=email], select {
  border: none;
  background-color: transparent;
  color: $white;
  margin: 0;
  font-family: $roboto;
  box-shadow: none;
  &:active, &:focus, &:hover{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: $white;
  }

  &::-webkit-input-placeholder {
    color: $white-transparent;
  }
  &:-ms-input-placeholder {
    color: $white-transparent;
  }
  &::placeholder {
    color: $white-transparent;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field{
    -webkit-appearance: none;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

select {
  position: relative;
  z-index: 2;
  font-size: 17px;
  color: $white;

  &.default{
    color: $white-transparent;
  }

}

label.input-label, .input-label {
  position: relative;
  min-height: 35px;
  display: block;
  &::after  {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, $white-transparent 18%, $white-transparent 82%, rgba(255,255,255,0) 100%);
    display: block;
    box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.1);
  }
}

label.label-choose, .label-choose {
  position: relative;
  &::before {
    content: 'Choose';
    display: inline-block;
    position: absolute;
    right: 15px;
    color: $white-transparent;
    z-index: 0;
  }
  &.input-type::before {
    top: 7px;
  }
}

.placeholder {
  position: absolute;
  left: 15px;
  color: $white-transparent;
  top: 7px;
}