header.header-transparent{
  border: none;
  color: #fff;
  * {
    color: #fff;
  }
  .btn {
    color:#fff;
  }
}
header {
  *, *:before, *:after {
    color: $blue !important;
  }
  &.header-transparent{
    *, *:before, *:after {
      color: $white !important;
    }
  }
  .title {
    text-transform: uppercase;
  }
}