// Files reserved for keyframes animations


// Down arrow 1 **************************************
@-webkit-keyframes down-arrow-1 {
  0% { padding-top: 10px; }
  50% { padding-top: 14px; }
  100% { padding-top: 10px; }
}
@keyframes down-arrow-1{
  0% { padding-top: 10px; }
  50% { padding-top: 14px; }
  100% { padding-top: 10px; }
}

// hourglass **************************************
@-webkit-keyframes hourglass {
  25%  {-webkit-transform: rotateZ(180deg);}
  50%  {-webkit-transform: rotateZ(180deg);}
  75%  {-webkit-transform: rotateZ(0deg);}
  100% {-webkit-transform: rotateZ(0deg);}
}
@keyframes hourglass {
  25%  {-webkit-transform: rotateZ(180deg); transform: rotateZ(180deg);}
  50%  {-webkit-transform: rotateZ(180deg); transform: rotateZ(180deg);}
  75%  {-webkit-transform: rotateZ(0deg); transform: rotateZ(0deg);}
  100% {-webkit-transform: rotateZ(0deg); transform: rotateZ(0deg);}
}

// slide-enter **************************************
@-webkit-keyframes slide-enter{
  0% {
    opacity: 0;
    z-index: 100;
    -webkit-transform:translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}
@keyframes slide-enter{
  0% {
    opacity: 0;
    -webkit-transform:translate3d(100%, 0, 0);
    transform:translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

// slide-leave **************************************
@-webkit-keyframes slide-leave{
  0% {
    z-index: 0;
    opacity: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}
@keyframes slide-leave{
  0% {
    z-index: 0;
    opacity: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}

// slide-enter-reserve **************************************
@-webkit-keyframes slide-enter-reserve {
  0% {
    opacity: 0;
    -webkit-transform:translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-enter-reserve {
  0% {
    opacity: 0;
    -webkit-transform:translate3d(-100%, 0, 0);
    transform:translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

// bounceInUp2 **************************************
@-webkit-keyframes bounceInUp2 {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp2 {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// bounceOutDown2 **************************************
@-webkit-keyframes bounceOutDown2 {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0);
  }
}
@keyframes bounceOutDown2 {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0);
  }
}

