.page-layout {
  height: 100%;
  padding: 10% 7% 0;
  text-align: center;
}

.midrive-logo {
  background: transparent url(../../images/midrive.svg) no-repeat;
  width: 182px;
  height: 182px;
  margin: 0 auto;

  &.medium {
    width: 145px;
    height: 145px;
    margin-bottom: 15%;
    margin-top: 10%;

    @media (min-height: $iPhone5-height) {
      margin-top: 35%;
    }
  }
}

.margin-top-20 {
  margin-top: 20%;
}

.padding-top-5{
  padding-top: 5%;
}

.btn-bottom-layout {
  bottom: 9%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 80%;
  &:nth-last-of-type(2) {
    bottom: 25%;
    @media (min-height: $iPhone5-height) {
      bottom: 24%;
    }
  }
}

label.input-label, .input-label {
  margin-bottom: 10%;
}

.facebook-connect {
  h1 {
    margin-top: 25%;
    font-size: 29px;
    font-weight: 100;
    margin-bottom: 35px;
  }
  p {
    font-weight: 100;
    font-size: 16px;
  }
}

.transparent {
  background: transparent !important;
}
.game-started {
  .card .table-view-cell {
    position: relative;
  }
  input[type="number"] {
    margin: 0;
    border: none;
    width: 40px;
    max-height: 21px;
    padding: 0;
  }
  select {
    padding-left: 0;
    width: 40px;
  }
  label {
    position: relative;
    &[for="timeLimit"]{
      padding-right: 24px;
    }
    &:after {
      content: '\e818';
      display: inline-block;
      font-family: Ratchicons;
      color: $text-gray;
      right: 0;
      font-size: 15px;
      position: absolute;
    }
  }
  label[for="noQuestions"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 25px 15px;

    &:after {
      right: 15px;
    }

    select {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      text-align: left;
      padding-left: 30%;
    }
  }
  p.small {
    position: absolute;
    margin: 0;
    bottom: 9%;
    left: 0;
    font-size: 12px;
    width: 100%;
    padding: 0 20px;
    opacity: 0.7;
    font-weight: normal;
  }
}

.end-game{
  text-align: center;
  width:100%;
  height:100%;
  padding-top: 10%;

  figure {
    margin-bottom: 20%;
  }

  @media (max-height: ($iPhone5-height - 1)) {
    .avatar {
      width: 130px;
      height: 130px;
    }
  }
}
