
@mixin avatar-bubble-simple($size: 59px, $color: $green){
  min-width: $size;
  min-height: $size;
  background-color: $color;
  border: 3px solid $white;
  border-radius: $size;
}

@mixin avatar-bubble($size: 59px, $color: $green, $bottom: 0){
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  bottom: $bottom;
  @include avatar-bubble-simple($size, $color)
}

@mixin avatar-size($avatar-size, $bubble-size, $border-with){
  width: $avatar-size;
  height: $avatar-size;
  border-width: $border-with;
  &:after{
    min-width: $bubble-size;
    min-height: $bubble-size;
    border-width: $border-with;
  }
}

@mixin ul-bubble(){
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  list-style: none;
  display: block;
  padding: 0;
}

@mixin settings-chevron() {
  &:after {
    position: absolute;
    content: '\e818';
    display: inline-block;
    font-family: Ratchicons;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: $circle-gray;
    right: 4px;
    top: 26px;
  }
}

@mixin fade-out-scroll(){
  content: '';
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 30px;
  left: 0;
}
