.game-question-container {
  padding: 10px;
  height: 100%;
  position: relative;

  > div {
    height: 100%;
    position: relative;
    width: 100%;
    display: block;
  }

  .btn-midrive {
    display: none;
    margin-top: 15px;
    @media (min-height: $iPhone6-height) {
      display: block;
    }
  }

  .timer {
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  //temporarly show the next button at the bottom everywhere
  .btn-midrive {
    display: block;
    height: 12%;
    min-height: 0;
    @media (max-height: $iPhone5-height + 1) {
      padding-top: 5.6%;
    }
  }
}

//question card style
.game-question-dir {
  margin: 0;
  height: 100%;
  background: $white;
  @media (min-height: $iPhone6-height) {
    height: 85%;
  }

  .img-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background: rgba(24,147,219,0.3);
  }

  .table-view {
    position: relative;
    height: 100%;
    display: table;
    width:100%;
  }

  .table-view-cell {
    &:first-of-type {
      width: 100%;
      text-align: center;
      padding: 15px 5px;
      max-height: 83px;

      h3 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 19px;
      }

      h4 {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        transition: color .5s linear;
        &.shake {
          color: $red;
        }
      }
    }
  }

  .qu {
    width: 100%;
    text-align: center;
    padding:15px;
    position: relative;
    overflow: visible;
    font-weight: normal;

    * {
      font-size: 18px;
      margin: 0;
      line-height: 1.4;
      font-weight: normal;
    }

    img {
      height:50px;
      width:auto;
      border-radius:0;
      min-height:0;
      position: relative;
      z-index: 10;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      &.scale {
        -webkit-transform: scale(3,3);
        transform: scale(3,3);
      }
    }
  }

  .question-layer {
    display: table-row;
    height: 100%;
    overflow: scroll;

    > div {
      overflow: scroll;
      height: 100%;
      -webkit-overflow-scrolling: touch;
    }

    ul{
      list-style: none;
      padding: 0 25px 25px;
      margin: 0;
    }

    li{
      display:block;
    }

    label {
      display: block;
      padding: 15px 5px 0;
      padding-right: 40px;
      min-height: 50px;
      text-align: left;
      position: relative;
      color: $blue;
      font-weight: 100;
    }

    //local vars
    $round-size: 30px;
    $checkbox-pos-x: 0;
    $checkbox-pos-y: 14px;
    $transition-time: .2s;

    input[type="checkbox"] {
      position: absolute;
      right: $checkbox-pos-x;
      top: $checkbox-pos-y;
      width: $round-size;
      height: $round-size;
      z-index: 2;
      opacity: 0;

      + .graphic-checkbox {
        position: absolute;
        width: $round-size;
        height: $round-size;
        right: $checkbox-pos-x;
        top: $checkbox-pos-y;
        border: 2px solid $circle-gray;
        border-radius: $round-size;
        transition: border $transition-time linear;

        &:before {
          width: 24px;
          height: 24px;
          position: absolute;
          content: '\e810';
          font-family: Ratchicons;
          line-height: 1;
          text-decoration: none;
          -webkit-font-smoothing: antialiased;
          font-size: 27px;
          top: 0px;
          left: -1px;
          color: $circle-gray;
          border: none;
          opacity: 0;
          transition: all $transition-time linear;
        }
      }

      &:checked + .graphic-checkbox {
        border-color: $blue;
        &:before {
          color: $blue;
          opacity: 1;
        }
      }
    }
  }
}


//answer card styles
.card.answers {
  overflow: visible;
  display: table;

  //TODO this style might be obsolete - check
  .question-layer {
    label{
      font-weight: normal;

      &.correct {
        color: $green;
        *, *:before {
          color: $green !important;
          border: none !important;
          -webkit-animation: none;
          animation: none;
        }
        .graphic-checkbox:before{
          border: none;
          opacity: 1;
        }
      }
      &.incorrect {
        color: $red;
        *, *:before {
          color: $red !important;
          border: none !important;
          -webkit-animation: none;
          animation: none;
        }
        .graphic-checkbox:before{
          content: '\e811';
          font-size: 19px;
          font-weight: bold;
          top: 4px;
          left: 3px;
          border: none;
          opacity: 1;
        }
      }
      &.neutral {
        color: $text-gray;
        * {
          color: $text-gray !important;
        }
        .graphic-checkbox{
          visibility: hidden;
        }
      }
    }
  }

  .icon {
    margin-bottom: 0;
    padding: 45px 0 10px;
    max-height: 186px;
  }
  .text {
    background: transparent;
    display: table-row;
    height: 100%;
    > div {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      height: 100%;
      padding: 0px 25px 20px;
    }
  }
  p {
    line-height: 1.5;
  }
}

//game question animate
.game-question-animate {
  position: relative;
  display: block;

  &.ng-hide-add, &.ng-hide-remove {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
  }
  &.ng-hide-remove {
    opacity: 0;
    z-index: 100;
    -webkit-transform:translate3d(100%, 0, 0);
    transform:translate3d(100%, 0, 0);
  }

  &.ng-hide-remove-active {
    opacity: 1;
    z-index: 100;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }

  &.ng-hide-add {
    z-index: 0;
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }

  &.ng-hide-add-active {
    z-index: 0;
    opacity: 0;
    -webkit-transform:translate3d(-100%, 0, 0);
    transform:translate3d(-100%, 0, 0);
  }
}

//card animation
.game-question-dir {
  position: absolute;
  width: 100%;
  top: 0;

  &.ng-hide-add, &.ng-hide-remove {
    -webkit-transition:opacity .2s ease-out;
    transition:opacity .2s ease-out;
  }

  &.ng-hide-remove {
    opacity: 0;
  }

  &.ng-hide-remove-active {
    opacity: 1;
  }

  &.ng-hide-add {
    opacity: 1;
  }

  &.ng-hide-add-active {
    opacity: 0;
  }

  + .btn-midrive {
    position: absolute;
    bottom: 4px;
  }
}