.tutorial {

  .slide-text {
    color: #fff;
    display: block;
    text-align: center;
    width: 90%;
    margin: 5% auto 0;
    white-space: normal;
    @media (min-height: $iPhone5-height) {
      margin-top: 10%;
    }
  }
  h1 {
    margin-bottom:5px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    @media (min-height: $iPhone5-height) {
      margin-bottom: 10px;
      font-size: 18px;
    }
    @media (min-height: $iPhone6-height) {
      margin-bottom:20px;
      font-size: 20px;
    }
  }
  p {
    padding-left:20px;
    padding-right:20px;
    color:$white;
    opacity:0.9;
    font-size: 12px;
    line-height: 1.1;
    @media (min-height: $iPhone6-height) {
      font-size: 15px;
    }
  }

  .img {
    background: transparent no-repeat top left;
    background-size: 100% auto;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    &.t1 {
      background-image: url('../../images/tutorial1.png');
    }
    &.t2 {
      background-image: url('../../images/tutorial2.png');
    }
    &.t3 {
      background-image: url('../../images/tutorial3.png');
    }
    &.t4 {
      background-image: url('../../images/tutorial4.png');
    }
    &.t5 {
      background-image: url('../../images/tutorial5.png');
    }

  }

  position: relative;
  width: 100%;
  height: 100%;

  .phone{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #48AAC4 0%, #2F8DBB 50%);
    .img {
      position: relative;
    }
  }

  .slider{
    position: absolute;
    bottom: 0;
    min-height: 45%;
  }
  .progress-container {
    position: absolute;
    bottom: 108px;
    @media (min-height: $iPhone6-height) {
      bottom: 113px;
    }
  }

  .btn {
    bottom: 30px;

  }

  .animated {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

.bounceInUp2 {
  -webkit-animation-name: bounceInUp2;
  animation-name: bounceInUp2;
}

.bounceOutDown2 {
  -webkit-animation-name: bounceOutDown2;
  animation-name: bounceOutDown2;
}