.multiplay-thinking {
  padding-top: 0;

  .game-progress {
    padding: 5px 0;
  }
  @media (min-height: $iPhone5-height) {
    padding-top: 5px;

    .game-progress {
      padding: 10px 0;
    }
    .avatar:nth-of-type(2){
      margin-top: 20px;
    }
  }

  @media (min-height: $iPhone6-height) {
    padding-top: 15%;

    .game-progress {
      padding: 15px 0;
    }
  }

  .avatar {
    width: 90px;
    height: 90px;

    @media (min-height: $iPhone5-height) {
      width: 100px;
      height: 100px;
    }

    &.wait:after {
      background: $orange url(../images/hourglass.svg) no-repeat;
      background-size: 52% auto;
      background-position: 12px 9px;
      -webkit-animation: hourglass 3s ease infinite;
      animation: hourglass 3s ease infinite;
    }
  }
  .hide-first-half li:first-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 17px;
    border-left: none;
  }
}