.game-list {
  padding: 10px;
  height: 100%;
  overflow: hidden;
  position: relative;

  .scroll-style {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 11;
    height: 45px;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    &.top{
      top: 0;
      background: linear-gradient(to bottom, $blue 0%, rgba(61,187,232,0) 100%);
    }
    &.bottom {
      background: linear-gradient(to bottom, rgba(24,147,219,0) 0%, rgba(24,147,219,0.8) 100%);
      bottom: 123px;
    }
  }
  .list{
    padding: 15px 0 0;
    overflow: scroll;
    bottom: 123px;

    .btn-midrive {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  > .btn-midrive {
    bottom: 36px;
  }
}