.settings {
  min-height: 100%;
  background-color: $white;
  * {
    color: $text-gray;
  }
  input[type=text], input[type=password], input[type=date], input[type=email], select {
    color: $text-gray;

    &::-webkit-input-placeholder {
      color: $circle-gray;
      font-style: italic;
    }
    &:-ms-input-placeholder {
      color: $circle-gray;
      font-style: italic;
    }
    &::placeholder {
      color: $circle-gray;
      font-style: italic;
    }
  }
  $row-height: 64px;
  $row-padding-top: 24px;
  .input-row {
    height: $row-height;
    position: relative;
    @include settings-chevron();
    label{
      white-space: nowrap;
      padding: $row-padding-top 0 16px 15px;
      height: $row-height;
    }
    input{
      text-align: right;
      height: $row-height;
      padding-right: 25px;
    }
  }
  .table-view:last-of-type {
    margin: 0;
    border-top: none;
    .table-view-cell {
      height: $row-height;
      padding: 0;
      > * {
        padding: 11px 15px;
        margin: 0;
      }
      @include settings-chevron();
      a {
        height: $row-height;
        padding-top: $row-padding-top;
      }
    }
  }
  input, select{
    &:hover, &:active{
      color: $text-gray;
    }
  }
}