.main {
  .icon-gear, .icon-refresh-time {
    padding: 15px;
    margin-top: -15px;
  }
  .icon.pull-left {
    margin-left: -15px;
  }
  .icon.pull-right {
    margin-right: -15px;
  }
  @media (max-height: ($iPhone5-height - 1)) {
    .avatar {
      width: 130px;
      height: 130px;
      .add-photo {
        margin-top: 29px;
      }
    }
  }

  //SoloGame button disable state
  .btn-bottom-layout {
    &.disabled:nth-last-of-type(2),
    &.disable:nth-last-of-type(2){
      padding-top: 16px;
    }
    small {
      position: absolute;
      left: 0;
      right: 0;
      font-size: 12px;
      bottom: 15px;
      opacity: 0.4;
    }
  }
}
