.history{
  height: 100%;
  background-color: $white;
  * {
    color: $text-gray;
  }
  .history-tabs{
    padding: 15px;
    height: 65px;
    >div{
      border: 2px solid $blue;
      background: $blue;
      border-radius: 5px;
      overflow: auto;
      zoom: 1;
    }
    a{
      width: 50%;
      padding: 10px;
      display: block;
      float: left;
      text-decoration: none;
      background: $white;
      color: $blue;
      text-align: center;
      &:hover, &:active, &.focus{
        text-decoration: none;
        color: $blue;
      }
      &.active {
        color: $white;
        background: transparent;
        &:hover, &:active, &.focus{
          color: $white;
        }
      }
    }
  }
  .table-view {
    border: none;
  }
  .table-view-cell {
    position: relative;
    padding-left: 75px;
    font-size: 15px;
    &:before {
      content: '';
      background: url("../../images/crown.svg") no-repeat;
      background-color: $circle-gray;
      background-position: 13px 14px;
      background-size: 46% auto;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      position: absolute;
      left: 10px;
    }
    &.won:before{
      background-color: $green;
    }
    p {
      font-size: 20px;
      color: $blue;
      line-height: 1.6;
    }
    span:first-of-type {
      font-weight: bold;
    }
  }
  .history-view {
    height: 80%;
    overflow: auto;

    .no-game-history{
      text-align: center;
      padding: 20px 0;
    }
    .table-view-cell{
      min-height: 100px;
      padding-top: 24px;
    }
    .multi-history {
      .table-view-cell{

        &:before {
          background: $circle-gray;
        }
        &:after{
          content: attr(data-score);
          position: absolute;
          right: 15px;
          top: 35px;
          display: inline-block;
          text-align: center;
          width: 38px;
          height: 38px;
          border-radius: 100px;
          background: $circle-gray;
          padding-top: 9px;
        }
        &.won:after {
          background: $green;
        }
      }
      figure, .avatar:not(figure) {
        &.small {
          position: absolute;
          left: 8px;
          top: 20px;
        }
      }
    }
  }
}