[ui-view]{
  > .content-inside {
    opacity: 0;
    -webkit-transition:opacity .5s ease;
    transition:opacity .5s ease;
  }
  &.loaded {
    > .content-inside {
      opacity: 1;
    }
  }
  &.ng-enter,&.ng-leave,
  &.ng-enter.reverse,&.ng-leave.reverse {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
  }

  //************ Normal transition *******************
  &.ng-enter {
    -webkit-transform:translate3d(100%, 0, 0);
    transform:translate3d(100%, 0, 0);
    > .content-inside {
      opacity: 0;
    }
  }

  &.ng-enter-active {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    > .content-inside {
      opacity: 1;
    }
  }

  &.ng-leave {
    z-index: 0;
    opacity: 1;
    > .content-inside {
      opacity: 1;
    }
  }

  &.ng-leave-active {
    z-index: 0;
    opacity: 0;
    > .content-inside {
      opacity: 0;
    }
  }

  // ************ Reverse transition *******************
  &.ng-enter.reverse {
    opacity: 0;
    -webkit-transform:translate3d(-100%, 0, 0);
    transform:translate3d(-100%, 0, 0);
  }

  &.ng-enter-active.reverse {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }

  &.ng-leave.reverse {
    opacity: 1;
  }

  &.ng-leave-active.reverse {
    opacity: 0;
  }

  //************ Slideup transition *******************
  &.ng-enter.slideup {
    opacity: 0;
    z-index: 100;
    -webkit-transform:translate3d(0, 100%, 0);
    transform:translate3d(0, 100%, 0);
    > .content-inside {
      opacity: 0;
    }
  }

  &.ng-enter-active.slideup {
    opacity: 1;
    z-index: 100;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    > .content-inside {
      opacity: 1;
    }
  }

  &.ng-leave.slideup {
    opacity: 1;
    z-index: 0;
  }

  &.ng-leave-active.slideup {
    opacity: 0;
    z-index: 0;
  }

  //************ Slidedown transition *******************
  &.ng-enter.slidedown {
    opacity: 1;
    z-index: 0;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }

  &.ng-enter-active.slidedown {
    opacity: 1;
    z-index: 0;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }

  &.ng-leave.slidedown {
    opacity: 1;
    z-index: 100;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }

  &.ng-leave-active.slidedown {
    opacity: 1;
    z-index: 100;
    -webkit-transform:translate3d(0, 100%, 0);
    transform:translate3d(0, 100%, 0);
  }
}