//
// Midrive Specific Variables
//---------------------------------------------------
$white:   #fff;
$white-transparent: rgba(255,255,255,0.4);
$white-transparent-active: rgba(255,255,255,0.5);

$disabled-white-transparent: rgba(255,255,255,0.2);
$disabled-text-white-transparent: rgba(255,255,255,0.275);

$green: #BBE50C;
$orange: #F7E00D;
$red: #EA0A20;

$light-gray: #DDDDDB;
$medium-gray: #9f9f9f;
$text-gray: #6C6D6D;
$circle-gray: #DCE1E2;
$dark-gray: #272828;
$black: #000;

$blue: #3DBBE8;
$dark-blue: #1893db;
$dark-blue-transparent: rgba(24,147,219,1);


//Fonts
$roboto: "Roboto","Helvetica Neue", Helvetica, sans-serif;

//Phones
$iPhone4-width:  320px;
$iPhone4-height: 480px;

$iPhone5-width: 320px;
$iPhone5-height: 568px;

$iPhone6-width: 375px;
$iPhone6-height: 667px;
